/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}


/* NAVBAR & INTRODUCTION */

.first-section {
  height: 95vh;
  background-color: black;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  padding: 2rem;
}

li a {
  text-decoration: none;
  background-color: yellow;
  color: black;
  border-radius: 28px;
  cursor: pointer;
  font-family: Arial;
  font-size: 16px;
  padding: 15px 45px;
}

.introduction {
  color: #d3d3d3;
  margin-top: 150px;
}

.introduction h1 {
  font-size: 60px;
  margin-left: 60px;
}

.introduction p {
  font-size: 30px;
  font-family: "Annie Use Your Telescope", cursive;
  letter-spacing: 1.5px;
  margin-left: 150px;
}

#first-shape {
  position: absolute;
  top: 720px;
  background-color: yellow;
  height: 40px;
  width: 250px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

#second-shape {
  position: absolute;
  bottom: 20px;
  background-color: yellow;
  height: 40px;
  width: 500px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

/* ABOUT ME */

.aboutme {
  background-color: white;
}

.title {
  margin-top: 50px;
  background-color: yellow;
  height: 40px;
  width: 778px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.title h1 {
  font: black;
  font-size: 25px;
  padding-top: 5px;
  padding-right: 200px;
  text-align: right;
}

.bio {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 40px 25px 0 48px;
}

.bio div:nth-child(odd) {
  font-size: 11px;
} 

.bio div:nth-child(even) {
  padding: 10px 10px;
  line-height: 1.5;
  font-size: 35px;
  text-align: center;
  font-weight: 900;
  color: grey;
  padding-left: 10px;
  padding-right: 10px;
}

.resumeButton {
  background-color: yellow;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  border: 1px solid yellow;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  margin-left: 700px;
  margin-bottom: 50px;
  border: none;
  font-size: 20px;
}

.resumeButton:hover {
  background-color: white;
  border: 3px solid yellow;
}

/* PROJECTS SECTION */
#myprojects {
  height: 100vh;
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
}

.card {
  margin-top: 80px;
  margin-left: 13px;
}

.card p {
  color: white;
  font-size: 12px;
  margin-left: 13px;
  margin-bottom: 25px;
}

.box-img {
  height: 200px;
  width: 309px;
  margin: 5px;
  border: 3px yellow solid;
}

.website-btn {
  background-color: #000000;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  border: 3px solid #ffde08;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #050505;
}

.github-btn {
  position: absolute;
  margin-left: 25px;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 22px;
  color: white;
  letter-spacing: 0.5px;
}

.fifth-image {
  position: absolute;
  background-color: yellow;
  top: 1166px;
  left: 283px;
  height: 40px;
  width: 742px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.fifth-image h1 {
  font: black;
  font-size: 25px;
  padding-top: 5px;
  padding-right: 162px;
  padding-left: 150px;
  text-align: left;
}

/* FOOTER/CONTACT SECTION */
#contacts {
  height: 20vh;
}

.fourth-shape {
  position: absolute;
  background-color: yellow;
  top: 2000px;
  height: 40px;
  width: 742px;
  margin-right: 743px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.fourth-shape h1 {
  font: black;
  font-size: 25px;
  padding-top: 3px;
  padding-right: 156px;
  margin-right: 17px;
  text-align: right;
}

.email {
  text-align: center;
  margin-top: 60px;
}

.email h1 {
  font-weight: 700;
  font-size: 20px;
  color: #676262;
  text-shadow: 1px black;
}

.links {
  display: flex;
  justify-content: center;
}

.links a {
  padding: 30px;
  font-size: 40px;
  color: black;
}

.contact p {
  text-align: center;
  margin-top: 28px;
  color: #676262;
  font-weight: 200;
  font-size: 1.2rem;
}

